body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    background: #1F2937;
}

.wrapper {
    border-radius: 5%;
    background: #E5E7EB;
    width: 37rem;
    height: 37rem;
    margin: 4rem auto 0;
    font-family: inherit;
}

header h1{
    margin: 0;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 0;
}

header p {
    margin: 0;
    padding-top: 5px;
    color: #6B7280;
    padding-left: 50px;
    font-size: 1.25rem;
}

button {
    margin-top: 51px;
    background: #10B981;
    opacity: 0.95;
    transition: opacity 0.2s;
    color: #F3F4F6;
    margin-left: 50px;
    padding: 9px 17px 9px 15px;
    border: none;
    gap: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover{
    opacity: 1;
}

.slidecontainer {
 margin: 0px auto;
}

.slider{
  display: grid;
  margin: 0px auto;
  cursor: pointer;
  color: #10B981;
  width: 84%; 
  height: 100px; 
  background: #d3d3d3; 
  opacity: 0.7; 
  transition: opacity 0.2s;
}

.slider:hover{
    opacity: 1;
}