body {
    font-family: 'Karla', sans-serif;
    background: #1F2937;
    caret-color: transparent;
}

/* Global Settings & States */

.wrapper2 button:hover, #copy-btn:hover{
    background: #059669;
}

.slidecontainer, .wrapper2 button, #btns, #selection{
    margin-left: 50px;
}

header h1, header p{
    padding-left: 50px;
    margin: 0;
}

#selection, label, input {
    cursor: default;
}

#copy-btn, #icon, .wrapper2 button, .slider {
    cursor: pointer;
}

#icon:hover, .slider:hover {
    opacity: 1;
}

.wrapper2 button:active, #copy-btn:active{
    transform: scale(0.98);
}

/* First Section [headers, change theme, generate pass btn] */

.wrapper {
    border-bottom: 5px solid #065F46;
    border-right: 5px solid #065F46;
    border-radius: 5%;
    background-color: #E5E7EB; 
    width: 37rem;
    height: 37rem;
    margin: 4rem auto 0;
    font-family: inherit;
}

.wrapperDark {
    background-color: #111827; 
}

header h1{
    color: black;
    padding-top: 50px;
    padding-bottom: 0;
}

header p {
    padding-top: 5px;
    color: #6B7280;
    font-size: 1.25rem;
}

.wrapper2 button {
    margin-top: 51px;
    background: #10B981;
    color: #F3F4F6;
    padding: 10px 17px 10px 15px;
    border: none;
    gap: 12px;
    border-radius: 6px;
    margin-bottom: 35px;
}

#icon{
    opacity: 0.85;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 300px;
}

/* Section 2 [adjust pass length & everything below it] */

.slidecontainer {
    margin-right: 50px;
    margin-bottom: 0;
    border-top: 1px solid #D1D5DB;
}

.slider{
  background-color: black;
  width: 100%;
  height: 50px;
  margin-bottom: 0px;
  opacity: 0.7; 
  transition: opacity 0.2s;
}

#psw-adjust{
    font-size: 1rem;
    color: #374151;
    font-weight: 400;
    margin-bottom: 0;
}

#selection{
    color: #374151;
    display: inline;
    font-family: inherit;
}

input {
    height: 10px;
    width: 10px;
}

#btns {
    display: inline-flex;
    margin-top: 35px;
}

#pass-btn{
    background-color: #9CA3AF;
    border: none;
    border-radius: 6px;
    min-width: 350px;
    max-width: 350px;
    min-height: 40px;
    max-height: 40px;
}

#copy-btn{
    margin-left: 5px;
    background: #10B981;
    min-height: 35px;
    color: #F3F4F6;
    border-radius: 6px;
    border: none;
}
